#string {
    height: 35px;
    width: 500px;
    position: relative;
}
  
.string-element {
    width: 28px;
    background-color: #88CCEE;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}
  
.string-element-id {
    position: absolute;
    color: black;
    margin-top: 0px;
    width: 100%;
    text-align: center;
}

#pattern {
    height: 35px;
    width: 500px;
    position: relative;
}
  
.pattern-element {
    width: 28px;
    background-color: #88CCEE;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}
  
.pattern-element-id {
    position: absolute;
    color: black;
    margin-top: 0px;
    width: 100%;
    text-align: center;
}